
span{color: aqua;}
h1{
    text-align: left;
    background-color: rgb(34, 32, 32);
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}
h2{text-align: center;
    color: yellow;
    background-color: rgb(192, 44, 68);
    font-family: monospace;
    font-style: italic;
}
h3{
    text-align: right;
    color: red;
    background-color: rgb(67, 218, 67);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    text-decoration: underline;
}
.search{
   
    color: rgb(0, 0, 0);
    border-color: rgb(224, 26, 59);
    background-color: pink;
    border-radius:25px;
    font-size: 15%;
    padding: 1px 25px;
    border-width: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.plus{
    color: white;
    background-color: #590ba1;
    border-radius: 50%;
    border: none;
    padding: 7px;
    font-size: 8px;
}
.create{
    color: white;
    background-color: rgb(32, 100, 3);
    box-shadow: 2px 2px rgb(0, 0, 0);
    width: 150px;
}