*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 600px;
    background-color: #d0f0f0;
    padding: 20px;
    margin: 100px 230px;
}

.top_nav{
    padding: 15px;
    height: 130px;
    background-color: #008000;
    margin-bottom: 10px;
}
.content{
    display:flex;
}
.side_nav{
    margin: 10px;
    height: 250px;
    width: 150px;
    background-color: #4b5fff;
}
.main{
    flex: 3;
    height: 400px;
    background-color: #a020f0;
    padding: 10px;
    margin: 10px;
}
.sub_content{ 
    background-color : yellow;
    height:200px;
    width: 200px;
    flex: 1;
    margin:5px;
    display: inline-table;
}

.bottom{
    height:120px;
    background-color: red;
    margin: 10px;
}